.H3 .mat-mdc-list-item-title {
    margin-left: 1.5em;
}

.H4 .mat-mdc-list-item-title {
    margin-left: 2em;
}

.H5 .mat-mdc-list-item-title {
    margin-left: 2.5em;
}

.H6 .mat-mdc-list-item-title {
    margin-left: 3em;
}
